<div class="fabrics-show" ng-class="{'modal-body': isModal}">
  <div class="row">
    <div class="fabrics-show-image col-sm-7">
      <div id="slideshow-1">
        <div id="cycle-1" cycle
            index="position"
            update="setPosition"
            bubble-click-events="!isModal"
            data-cycle-slides="[ng-repeat]"
            data-cycle-timeout="0"
            data-cycle-fx="fade"
            data-cycle-log=false
            data-cycle-pager="#adv-custom-pager"
            data-cycle-pager-template=""
            data-cycle-center-horz=true
            data-cycle-center-vert=true
        >
          <div data-rulered={{v.image.width}} ng-repeat="v in fabric.variants">
            <img ng-src="{{ v.image.full }}" />
          </div>
        </div>
      </div>
      <div id="adv-custom-pager" class="center external">
        <a href={{fabric.getVariantUrl(v.position)}} ng-repeat="v in fabric.variants">
          <img ng-src="{{ v.image.tiny }}">
        </a>
      </div>
    </div>
    <div class="fabrics-show-details col-sm-5">
      <dl>
        <dt>Mill</dt> <dd ng-bind="fabric.mill.name | default"></dd><br>
        <span ng-if="!currentUser.isBuyer()"><dt>Item #</dt> <dd ng-bind="fabric.item_number"></dd><br></span>
        <span ng-if="!currentUser.isBuyer()"><dt>Color Way #</dt> <dd ng-bind="variant.item_number"></dd><br></span>
        <dt>Fabrium #</dt> <dd ng-bind="variant.fabrium_id"></dd><br>
        <dt>Fiber Content</dt> <dd ng-bind="fabric.materials | materials | default"></dd><br>
        <dt>Weight</dt> <dd ng-bind-html="fabric.weight | weight"></dd><br>
        <dt>Width</dt> <dd ng-bind="fabric.width | width"></dd><br>
        <dt>Country of Origin</dt> <dd ng-bind="fabric.country.name | default"></dd><br>
        <span ng-hide="fabric.isFree()"><dt>Price</dt> <dd ng-bind="fabric.price | price"></dd></span><br>
        <dt>In Stock</dt> <dd ng-bind="variant.in_stock | yesno"></dd><br>
        <dt>Category</dt> <dd ng-bind="fabric.category.name | default"></dd><br>
        <dt>Dye Method</dt> <dd ng-bind="fabric.dye_method.name | default"></dd><br>
        <dt>Keywords</dt> <dd ng-bind="fabric.tags | tags"></dd><br>
        <dt>Sample Lead Time</dt> <dd ng-bind-template="{{fabric.lead_time.sample}} Weeks"></dd><br>
        <dt>Bulk Lead Time</dt> <dd ng-bind-template="{{fabric.lead_time.bulk}} Weeks"></dd><br>
        <dt>Sample Minimum</dt> <dd ng-bind-template="{{fabric.minimum_quality.sample}} Square Meters"></dd><br>
        <dt>Bulk Minimum</dt> <dd ng-bind-template="{{fabric.minimum_quality.bulk}} Square Meters"></dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="buttons col-sm-12">
      <a class="btn btn-default fabric-favorite-status" ng-click="currentUser.toggleFavorite(fabric.id)">
        <i class="fa fa-heart" ng-class="{true: 'fa-favorite'}[currentUser.hasFavorite(fabric.id)]"></i>
        <span ng-bind="currentUser.hasFavorite(fabric.id) ? 'Remove from favorites' : 'Add to favorites'"></span>
      </a>
      <a ng-if="!currentUser.isBuyer()" class="btn btn-default" href="{{ fabric.links | link:'edit' }}">Edit</a>
      <a class="btn btn-default" href="#print" ng-click="print()">Print</a>
      <a class="btn" ng-show="cart" ng-class="{true: 'btn-danger', false: 'btn-primary'}[cart.hasItem(variant.id)]" ng-click="handleRequestClick(variant.id)" href="#request">
        <span ng-if="cart.hasItem(variant.id) && currentUser.isBuyer()">Fabric In Cart - View Cart</span>
        <span ng-if="cart.hasItem(variant.id) && currentUser.isMill()">Item Selected - View Cart</span>
        <span ng-if="!cart.hasItem(variant.id) && currentUser.isBuyer()">Add Fabric To Cart</span>
        <span ng-if="!cart.hasItem(variant.id) && currentUser.isMill()">Select Item</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="mynotes">
          <span>My Notes</span>
          &mdash;
          <i>These are private and not shared with the mill</i>
        </label>
        <textarea options='fabric' fabric-notes-for="fabric" id="mynotes" class="form-control" rows="3" ng-model="fabric.note"></textarea>
      </div>
    </div>
  </div>
</div>
