<%= content_for :body_end do %>
  <%= javascript_include_tag :client %>
<% end %>

<div>
  <div ng-view></div>

  <script type="text/ng-template" id="index.html">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-search" ng-submit="updateSearch(1)">
          <fieldset>
            <legend>Search Fabrics</legend>

            <div class="row">
              <div class="form-group">
                <label>Category</label>
                <select 
                  selectize="selectize.category"
                  ng-model="search.category" 
                  class="form-control"
                  placeholder="Select..."
                >
                  <%= select_options_for_categories %>
                </select>
              </div>

              <div class="form-group form-group-material">
                <label>Fiber Content</label>
                <select
                  selectize="selectize.material" 
                  ng-model="search.material" 
                  class="form-control" 
                  placeholder="Select..."
                >
                  <%= select_options_for_material %>
                </select>
              </div>

              <div class="form-group form-group-weights">
                <label>Weight</label>
                <input type="number" ng-model="search.weight_min" class="form-control" placeholder="Any" min=0 step="any">
                <span>to</span>
                <input type="number" ng-model="search.weight_max" class="form-control" placeholder="Any" min=0 step="any">
                <select ng-model="search.weight_units">
                  <option value="">GSM</option>
                  <option value="glm">GLM</option>
                  <option value="osy">OSY</option>
                </select>
              </div>

              <div class="form-group">
                <label>Tags</label>
                <input selectize="selectize.tags" type="text" ng-model="search.tags" class="form-control" placeholder="Type to search...">
              </div>
            </div>
          </fieldset>

          <a href="#" ng-click="advanced = !advanced">
            Toggle Advanced Options
          </a>

          <hr>

          <fieldset class="advanced-options" ng-show="advanced">
            <div class="row">
              <div class="form-group">
                <label>Search favorites only</label>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Search in stock only</label>
                <ul>
                  <li>checkbox</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Mills</label>
                <ul>
                  <li>Mill users search their own mill</li>
                  <li>Admin users search all including "archived"</li>
                  <li>Buyer users serach within active</li>
                  <li>Buyer users get a checkbox that searches their "preferred mills"</li>
                </ul>

                <label>Exclude Mills</label>
                <ul>
                  <li>Buyer only</li>
                  <li>Buyer gets checkbox that excludes "blocked" mills (this is default)</li>
                  <li>The buyer's block list is the default, checking the box shows the fields</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Dye Method</label>
                <ul>
                  <li>Simple selectize</li>
                  <li>Defaults to last value</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Fabrium Number</label>
                <label>Item Number</label>
                <ul>
                  <li>Not avail to buyer</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Country</label>
                <ul>
                  <li>Selectize</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Price</label>
                <ul>
                  <li>Range</li>
                  <li>$ or Euros</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Sample Lead Time less than</label>
                <ul>
                  <li>1-16 weeks</li>
                </ul>

                <label>Bulk Lead Time less than</label>
                <ul>
                  <li>1-16 weeks</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Sample Minimum</label>
                <ul>
                  <li>whole number</li>
                </ul>

                <label>Bulk Minimum less than</label>
                <ul>
                  <li>whole number</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="form-group form-group-color">
                <label>Color</label>
                <input minicolors ng-model="search.color" class="form-control" placeholder="Choose a color...">
              </div>
            </div>
            <hr>
          </fieldset>

          <div class="form-actions">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div ng-if="pagination && !items.loading">
      <div ng-switch="pagination.total_count">
        <div ng-switch-when="0">
          No results were found
        </div>
        <div ng-switch-when="1">
          Displaying 1 result
        </div>
        <div ng-switch-default>
          Displaying {{pagination.from}} to {{pagination.to}} of {{pagination.total_count}} results.
        </div>
      </div>

      <pagination 
        ng-show="pagination.pages > 1"
        items-per-page="pagination.per_page" 
        max-size="10" 
        total-items="pagination.total_count" 
        ng-model="pagination.page"
        ng-change="updateSearch(pagination.page)"
      ></pagination>
    </div>

    <div ng-if="items.loading">
      Loading...
    </div>

    <ul class="fabric-variant-resultlist">
      <li class="fabric-variant-result" ng-repeat="item in items">
        <div class="fabric-variant-result-inner" ng-click="show(item.id)">
          <img ng-if="item.image.thumb" ng-src="{{item.image.thumb}}">
          <div ng-if="!item.image.thumb" class="fabric-variant-image" style="background-color: #{{ item.color }};">
        </div>
      </li>
    </ul>
  </script>

  <script type="text/ng-template" id="show.html">
    <div class="modal-header">
      <h3 class="modal-title">Fabric: {{ fabric_variant.id }}</h3>
    </div>
    <div class="modal-body">
      <img ng-src="{{ fabric_variant.image.thumb }}" />
      <p>color: #{{ fabric_variant.color }}</p>
      <p>tags: {{ fabric_variant.tags.length ? fabric_variant.tags.join(", ") : "none" }}</p>
    </div>
  </script>
</div>
