<%= form_for(@fabric_variant) do |f| %>
  <% if @fabric_variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fabric_variant.errors.count, "error") %> prohibited this fabric_variant from being saved:</h2>

      <ul>
      <% @fabric_variant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
