<h1>Listing fabric_variants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fabric_variants.each do |fabric_variant| %>
      <tr>
        <td><%= link_to 'Show', fabric_variant %></td>
        <td><%= link_to 'Edit', edit_fabric_variant_path(fabric_variant) %></td>
        <td><%= link_to 'Destroy', fabric_variant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fabric variant', new_fabric_variant_path %>
