<p><%= @mill.name %> has created a custom fabric hanger request for you at <%= link_to "Fabrium.com", root_url %>.</p>
<p>Visit <%= link_to public_cart_url(@cart.public_id), public_cart_url(@cart.public_id) %> to edit and submit it.</p>
