<p><%= @mill.name %> has created a custom fabric hanger request for you at <%= link_to "Fabrium.com", root_url %>.</p>
<p>Click here <%= link_to @cart_url, @cart_url %> to review the portfolio.</p>
<p>Thanks!</p>
<p>- The Fabrium Team</p>
