<p><%= @mill.name %> has declined to fulfill your fabric request at <%= link_to "Fabrium.com", root_url %>.
<p>To review the request, click here: <%= link_to cart_url(@cart), cart_url(@cart) %>.</p>
<p>Thanks!</p>
<p>- The Fabrium Team</p>
