<p>An order has been submitted that requires your attention at <%= link_to "Fabrium.com", root_url %>.</p>
<p>Click here <%= link_to cart_url(@cart), cart_url(@cart) %> to handle the order.</p>
<p>Thanks!</p>
<p>- The Fabrium Team</p>
