.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

// put a margin on the span after an icon
i.fa + span {
  margin-left: 5px;
}

.panel .table {
  th.pre-actions, 
  td.pre-actions {
    border-right-width: 0;
  }
  th.actions,
  td.actions {
    border-left-width: 0;
  }
}

td.file-icon {
  text-align: center;
  width: 46px;
}

tr.deleted-record {
  td, .btn {
    color: #999;
  }
}

td.actions {
  width: 1%;
  text-align: right;
  white-space: nowrap;
  a {
    // visibility: hidden;
    margin-right: 5px;

    // hide the text of the actions links on small screens
    span {
      display: none;
    }
  }

  @media (min-width: $screen-lg-min) {
    a span {
      display: inline;
    }
  }
}

.form-group.image_preview {
  label {
    display: block;
  }
  img {
    margin-bottom: 5px;
  }
}

.fabric_weights_wrapper {
  position: relative;
  padding-right: 55px;

  select {
    height: 34px;
    position: absolute;
    right: 0;
    width: 55px;
    top: 0;
    border-radius: 0 6px 6px 0;
    background-color: $panel-footer-bg;
  }
  input {
    border-radius: 6px 0 0 6px;
    border-right: 0;
  }
}

.form-inputs {
  @include make-row(10px);

  @include make-sm-column(6);

  > .form-group {
    @include make-sm-column(12, 10px);

    &.fabric_sample_lead_time, 
    &.fabric_bulk_lead_time,
    &.fabric_sample_minimum_quality,
    &.fabric_bulk_minimum_quality
    {
      @include make-sm-column(6, 10px);
    }
  }

  .modal-body & {
    @include make-sm-column(12);
  }
}


.form-control.file {
  border: none;
  padding: 0;
  box-shadow: none;
}


.pricing_type_select {
  margin-bottom: 5px;
}

.price_range_inner {
  @include make-row(10px);

  .pricing_type {
    @include make-sm-column(6, 10px);

    .form-group { margin: 0; }
  }
  .price_range_sep {
    text-align: center;
    font-size: 16px;
  }
}

.form-actions > * {
  margin: 0 5px 5px 0;
}
