@import "minicolors";

.minicolors-theme-default .minicolors-swatch {
  top: 8px;
  left: 8px;
}

.minicolors-theme-default .minicolors-input {
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
}

// let the width of the input wrapper determine width
.minicolors-theme-default.minicolors {
  width: 100%;
}

td.color, td.thumb {
  position: relative;
}

td.color {
  padding-left: 48px !important;
}

.swatch {
  display: block;
  position: absolute;
  width: 26px;
  top: 10px;
  bottom: 10px;
  left: 10px;
}

.minicolors-swatch {
  background-image: asset_url('jquery.minicolors.png');
}
