@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  .fabrics-show-image .overlay {
    display: block !important;
  }
  html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 0;
  }
  body * {
    visibility: hidden;
  }
  #printSection, #printSection * {
    visibility: visible;
    width: 100%;
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media print {
  [cycle] img {
    width: auto !important;
  }
  .print-hide {
    display: none !important;
  }
  .cycle-sentinel, .cycle-slide {
    display: none !important;
  }
  .cycle-slide-active {
    margin: 0 0 20px !important;
    position: static !important;
    display: block !important;
    top: 0;
    left: 0;
  }

  body .packing-slip {
    font-size: 14pt !important;
  }
}
