@import "vendor";

// Sass imports
@import "bootstrap-fabrium";
@import "angular";
@import "selectize";
@import "minicolors-fabrium";
@import "admin";
@import "jcrop";
@import "sticky_footer";
@import "print";


body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  z-index: 10;
}

.navbar-brand {
  background: asset_url('logo.png') no-repeat;
  display: inline-block;
  width: 180px;
  height: 90px;
  text-indent: -9999em;
  margin: 12px 0 0;
}

.navbar {
  @include box-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));

  .navbar-nav > li > a {
    text-transform: uppercase;
  }
}


html {
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

select.form-control option {
  padding: 2px;
}

#root {
}

#main {
  padding: 0 0 70px;
  position: relative;
  top: 0;
  @include transition(top 0.7s ease);
}

$result-padding: 10px;

// fabric search
ul.fabric-variant-resultlist {
  @include make-row($result-padding);
  padding: 0;
  list-style: none none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-loading {
  margin: 20px 0;
  height: 1200px;
}


li.fabric-variant-result {

  @include make-xs-column(4, $result-padding);
  @include make-sm-column(3, $result-padding);
  @include make-lg-column(2, $result-padding);
  padding-bottom: $result-padding;

  // display: block;
  // float: left;
  // line-height: 100px;
  // margin: 0 10px 10px 0;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    @include transition(opacity 0.2s linear);
  }

  .fabric-variant-image {
    min-height: 100px;
  }

  .fabric-variant-result-inner {
    position: relative;
    cursor: pointer;
  }
}

body .form-group-range {
  @include clearfix;

  label {
    display: block;
    clear: both;
  }
  input {
    width: 90px;
  }
  span {
    display: block;
  }
  span, select, input {
    float: left;
  }
  select {
    padding-left: 5px;
    padding-right: 5px;
  }
  span, select {
    height: 34px;
    line-height: 34px;
    margin: 0 8px;
  }
}

.form-group-color {
  @include clearfix;

  label {
    display: block;
    clear: both;
  }

}

.nav li.text span {
  $line-height: 20px;
  $padding: ($navbar-height - $line-height) / 2;
  position: relative;
  padding: $padding;
  display: block;
  line-height: $line-height;
  color: #999;

  @media (max-width: $screen-xs-max) {
    padding: 10px 15px;
  }
}

.property-assignment {
  overflow: hidden;
  margin: 0 5px 5px 0;
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  a.remove {
    margin-left: 5px;
    &:hover {
      text-decoration: none;
    }
  }
}

.property-assignments {
  margin-top: 5px;
}

.property_select.materials {

  .property-assignment span, span.totals-value {
    float: right;
    line-height: 18px;
    vertical-align: middle;
  }

  input {
    margin-right: 1px;
    height: 22px;
    width: 60px;
    background-color: #fff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    text-align: left;
  }

  .totals {
    background-color: #fafafa;
  }

  .totals input {
    background-color: #f0fff0;
    &.invalid {
      background-color: #fff0f0;
    }
  }

  .property-assignment, .totals {
    display: block;
    border: 0;
    margin: 2px 0 0;
    padding: 6px 12px;

    &:first-child {
      margin-top: 0;
    }
  }
  .property-assignments {
    border-radius: 4px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

.selectize-dropdown-header {
  cursor: pointer;
  a:hover {
    text-decoration: none;
  }
}

.panel-column {
  float: left;
}

.panel-heading {
  @include clearfix;

  .panel-title {
    line-height: 34px;
    font-size: 20px;
  }

  @media (min-width: $screen-md-min) {
    .panel-title {
      float: left;
    }
  }

  .panel-notice {
    background: #ffd;
    a {
      margin-left: 10px;
    }
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
  }
  .breadcrumb > li + li:before {
    padding-right: 0;
  }

  .scope-select {
    @include make-row;
    clear: both;
    padding-top: 10px;

    .form-group {
      @include make-sm-column(2);
      margin-bottom: 0;
    }

    .selectize-control {
      width: 100%;
    }
    .selectize-input {
      height: 36px;
    }
    select {
      display: none;
      width: 100%;
    }
  }

  .btn-group {
    .form-group {
      width: 100%;
    }
  }

  .btn-group {
    margin: 10px 0 0;

    &, .selectize-input {
      height: 36px;
    }

    .form-group {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md-min) {
      float: right;
      margin: 0 0 0 10px;
    }
  }
}

// restrain the crazy input widths
input[type=text],
input[type=phone],
input[type=number],
select[data-select],
.selectize-control
{
  width: 100%;
}

.page-header {
  margin: 20px 0 20px;
  a {
    margin-right: 5px;
  }
}

// if the browser supports it, remove the bottom margin from the last
// child of container-like elements
.modal-body, 
.well 
{
  > *:last-child {
    margin-bottom: 0;
  }
}

.modal-body {
  padding: 25px 40px;
}

// decrease the double margin top on headers in modal titles
.modal-title {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
  }
}

h2 {
  margin-bottom: 25px;
}

.navbar-toggle {
  line-height: $navbar-height;
  border: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  i {
    vertical-align: middle;
  }
  color: #666;
  &:hover {
    background-color: transparent !important;
    color: #999;
  }

  @media (max-width: $screen-xs-max) {
    margin-right: 0;
    padding: 0 20px;
  }
}

.form-control {
}

/**
 * Client select navbar
 */
.navbar-select {
  .navbar-input-group {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
  .navbar-brand {
    padding-right: 0;
  }

  .navbar-input-group .form-control {
    min-width: 300px;
  }

  .navbar-body {
    float: left;
    width: 100%;
    padding-left: $panel-body-padding;
    padding-right: $panel-body-padding;

    @media (min-width: $screen-sm-min) {
      padding: 0;
      width: auto;
    }
  }
}

[data-select] {
  display: none;
}

.error-tooltip {
  display: none;
}

#crop-fields {
  @include clearfix;
  > * {
    float: left;
  }
}
#full_image {
  margin-top: 10px;
}
#crops {
  overflow: hidden;
}
#full_image img, #crops {
  border: 1px solid #eee;
}
#crop_actions {
  margin: 5px 0;
  button {
    margin-right: 5px;
  }
}

td.thumb {
  width: 30px !important;
  padding: 2px 0 2px 5px !important;
  position: relative;

  a {
    display: block;
  }
  img {
    width: 100%;
    border: 1px solid #eee;
  }
}

.fabric-variant-image-form {
  height: 30px;
  overflow: hidden;
}

.help-block.error {
  color: $state-danger-text;

}

hr {
  margin: 18px 0;
}

hr.no-botmargin {
  margin-bottom: 0;
}

.advanced-options-configure a {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  z-index: 1999;
}

.advanced-options-panel {
  position: absolute;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 200px;
  background-color: #fff;
  z-index: 2000;
  margin-top: 10px;
  padding: 10px;
  ul, li {
    list-style: none none;
    margin: 0;
    padding: 0;
  }
}


#fabric-variants-index {

  .advanced-options {
    fieldset {
      margin: 0 0 15px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .checkbox {
      margin-top: 0;
    }
  }

  .panel {
    .panel-body {
      padding-bottom: 0;
    }
  }

  .search-footer {
    margin: 0 0 18px;
    // This is in place for the animating search options (not enabled)
    // margin: 18px 0;
  }

  legend {
    display: none;
  }

  #pagination {
    line-height: 32px;
  }

  @media (min-width: $screen-sm-min) {
    #pagesort {
      select {
        float: right;
        width: 180px;
        font-size: 14px;
      }
    }
  }
}


.form-search {
  .form-group, .form-link {
    @include make-sm-column(6);
  }
  .form-link {
    > a {
      line-height: 34px;
    }
    margin-top: -8px;
    margin-bottom: 15px;
    @media (min-width: $screen-sm-min) {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
  .form-row-mills, .form-row-not_mills {
    .form-group {
      margin-bottom: 0;
    }
    .checkbox {
      @include make-sm-column(6);
      margin-top: 0;
      margin-bottom: 15px;
    }

    @media (min-width: $screen-sm-min) {
      .form-group {
        margin-bottom: 15px;
      }
      .checkbox {
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

fieldset.advanced-options {
  > .checkbox {
    margin-bottom: 20px;
  }
}

tfoot.paginator {
  .pagination {
    margin: 0;
  }
  td li a {
    border: 0;
    border-radius: 4px;
  }
}

[ng-click], a[rel="popover"] {
  cursor: pointer;
}

.popover-hint .help-block {
  display: none;
}
.popover-wide {
  max-width: 400px;
  width: 400px;
}

.popover img.popover-thumb {
  width: 150px;
  display: block;
}
@media screen and (max-width: $screen-md-max) {
  .popover {
    display: none;
  }
}

.hidden-content {
  display: none;
}

.result-panel {
  position: absolute;
  top: 0;
  padding: 3px 6px;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #efefef;
  z-index: 1000;
  // @include box-shadow(0px 10px 192px 0px rgba(0,0,0,0.75));

  &.fabric-actions {
    left: 0;
  }

  &.fabric-favorite-status {
    right: 0;
  }
}

a.fabric-favorite-status {
  i {
    color: #999;
    &:hover { color: #aaa; }
  }
  i.fa-favorite {
    // color: #f88;
    // &:hover { color: #f66; }
    color: $brand-primary;
    &:hover { color: lighten($brand-primary, 10%); }
  }
}

.pagination {
  margin-bottom: 0;
}

.fabric-variant-resultlist table.resultdetails {
  width: 100%;
  font-size: 12px;
}
.resultdetails-data {
  text-align: right;
}

a[rel~=popover] .popover {
  line-height: 1.4;
}

@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility: visible;
    width: 100%;
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }
}

dt {
  font-weight: bold;
}
dd, dt {
  display: inline;
}
// dd:after {
//   content: "\A";
//   white-space: pre;
// }
dt:after {
  content: ":";
}

.fabrics-show {
  .buttons {
    text-align: right;
    margin: 20px 0;
    .btn {
      padding: 4px 8px;
      font-size: 14px;
    }
  }
}

.fabrics-show-details {
  font-size: 14px;
}

.fabrics-show-main-image {
  img {
    width: 100%;
  }
}

// The default style makes the whole dialog a pointer.  This is wrong.
.modal[role=dialog] {
  cursor: default;
}

/**
 * Cycle2 code for the fabric show modal
 */
#cycle-2 .cycle-slide { border: 3px solid #fff; }
#cycle-2 .cycle-slide-active { border: 3px solid #004; }

#slideshow-1 {
  background-color: #fbfbfb;
}
#slideshow-1,#slideshow-2 { width: 100%; }
#slideshow-2 { margin-top: 10px }
#slideshow-2 [ng-repeat] { width: 20%; }
[cycle] img { 
  width: 100%; 
  height: auto; 
  display: block; 
  border: 1px solid #f0f0f0;
  display: none;
  &:first-child {
    display: block;
  }
}

#adv-custom-pager {
  margin: 5px 0;
  @include clearfix;

  a {
    border: 3px #ffffff solid;
    display: block;
    float: left;
  }

  a.cycle-pager-active {
    border-color: #ff0;
  }

  img {
    width: 30px;
    height: 30px;
    border: 1px solid #f0f0f0;
  }
}

.nav-subnav {
  margin-bottom: 20px;
}

.cart-items {
  // border-top: 1px solid #eee;
  // border-bottom: 1px solid #eee;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;

  a.remove {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 2px 5px;
    font-size: 12px;
  }
}
.cart-item {
  @include make-row();

  &:first-child {
    padding-top: 0;
  }

  padding-top: 15px;

  img {
    width: 100%;
  }
  .col-thumb {
    @include make-xs-column(4);
    @include make-sm-column(3);
  }
  .col-fields {
    @include make-xs-column(8);
    @include make-sm-column(9);
  }
}

.in-stock-indicator {
  margin-bottom: 12px;
}

p.fake-input {
  height: auto;
  min-height: 38px;
  background-color: #f9f9f9;
  border-color: #efefef;
}

#buyer-email-form {
  @include make-sm-column(6);
}

span + span.badge {
  margin-left: 10px;
}

[data-toggle]:focus {
  outline: none;
}

.form-inline .form-group {
  margin: 0;
}

.table-responsive {
  &, table {
    margin-bottom: 0;
  }
}

.breadcrumb {
  background: none;
}

fieldset {
  margin-bottom: 20px;
}

.has-error .selectize-input {
  border-color: $state-danger-text;
}

.devise-links {
  display: block;
  font-size: 14px;
  margin: 10px 0;
}

.sign-up-actions {
  @include clearfix;
  margin: 10px 0;
  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
  }
}

.top-actions {
  padding: 0 0 20px;
}

.modal-dialog {
  width: 75%;
}

.well.well-message {
  font-size: 18px;
  a.btn {
    margin: 0 15px;
  }
}

.radio input {
  width: auto;
  height: auto;
  @include box-shadow(none);
}

label + .badge {
  margin-left: 5px;
  background-color: $brand-danger;
  vertical-align: text-bottom;

}

.badge-success {
  background-color: $brand-success !important;
}

p.line-item {
  label {
    margin: 0;
  }
  + p.line-item {
    margin-top: -11px;
  }
}

.state-shipped {
  color: $brand-success;
}
.state-refused {
  color: $brand-danger;
}
.state-pending {
  color: $brand-warning;
}

.adr {
  .street-address, .country-name, .tel {
    display: block;
  }
  .city {
    &:after {
      content: ','
    }
  }
  .city, .region {
    margin-right: 5px;
  }
}

.shipping {
  margin: 0 0 20px;
  h5 {
    font-weight: bold;
    margin: 0 0 10px;
  }
}

.nested-resource {
  $padding: 10px;
  margin-bottom: $padding;
  border-radius: 10px;
  padding: $padding;
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  position: relative;

  a.remove-nested-resource {
    position: absolute;
    top: $padding;
    right: $padding;
    z-index: 1000;
  }
}

label {
  abbr[title], abbr[data-original-title] { 
    border-bottom: 0;
    cursor: default;
  }
}

[data-rulered] {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.notice {
  color: $brand-primary;
  padding: 5px;
}

.modal-content > .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 18px;
  z-index: 9999;
}

.resultdetails-inactive {
  color: #f00;
}

.selectize-input .inputs input[type="text"] {
  width: 40px;
}
