- if current_user.is_mill?
  li= link_to st('links.edit_mill'), edit_mill_path(current_user.meta)
- if current_user.is_buyer?
  li= link_to st('links.edit_buyer'), edit_buyer_path(current_user.meta)

= resource_menu_link(Fabric)
= resource_menu_link(Cart) unless current_user.is_mill?
= resource_menu_link(User, text: t(current_user.is_mill? ? "st.users.actions.index.mill_user_title" : "st.users.actions.index.title") )
= resource_menu_link(Buyer)
= resource_menu_link(Mill)
= resource_menu_link(Tag)
= resource_menu_link(Category)
= resource_menu_link(DyeMethod)
= resource_menu_link(Material)
= resource_menu_link(ApprovedDomain)
= resource_menu_link(Admin)
